# FastAPI & Uvicorn (Backend Web Server)
fastapi
uvicorn

# HTTP Requests & Scraping
requests
urllib3
beautifulsoup4

# HoYoLAB API integration
genshin

# Playwright (Auto-login / Cookie extraction)
playwright

# Groq Cloud IA integration
groq

# Image Processing (Avatar caching)
Pillow
